* {
    margin: 0;
    padding: 0;
}
/* .box{
    height: 100px;
    width: 30%;
    background: #000;
    float: left;
    margin: 0 10px;
    color: white;
    overflow: hidden;
} */

.cla {
    font-size: 2rem;
    background-color: rgb(40, 91, 231);
    height: 100px;
    width: 200px;
    color: white;
}

.para {
    background: rgb(43, 236, 211);
}
.newPara {
    color: blue;
    font-weight: bold;
    padding: 20px;
    font-size: 2rem;
}