* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}
.bd {
  background-color: rgb(20, 182, 20);
}
.upside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.upside .again {
  padding: 8px 13px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
}
.upside p {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.newGuess {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guess-area {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left .submit {
  margin-top: 10px;
  padding: 9px 16px;
  border: none;
  font-size: 1.4rem;
  border-radius: 3px;
  cursor: pointer;
}
.left input[type="number"] {
  border: none;
  padding: 10px;
  width: 250px;
  font-size: 3rem;
  outline: none;
  border-radius: 5px;
}
.right p {
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.upperGuess {
  text-align: center;
  font-size: 3rem;
  position: relative;
}
.upperGuess .ques {
  color: black;
  background-color: #fff;
  display: inline;
  padding: 0 20px;
  border-radius: 2px;
}
.upperGuess hr {
  position: absolute;
  bottom: 50px;
  z-index: -1;
  width: 99%;
}
